* {
    background: #025252;
    font-family: "Rubik", sans-serif;
}
h1 {
    color: #fff; 
    font-size: 60px,; 
    text-align: center;
}
p {
    color: #fff; 
    font-size: 1.5em; 
    text-align: center;
}
footer > p {
    color: darkorchid;
    margin-top: 10px;
    font-size: 100px;
}
p > span {
    color: lightcoral;
}
hr {
    color: #fff;
}