/* General Styles */
* {
    font-family: "Rubik", sans-serif;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0px
}
body {
    background-color: #060e1d;
}
h1 {
    font-weight: bold;
    font-size: 224%;
    text-align: center;
}
.card {
    background-color: #081d42;
    height: 190px;
    border: 3px solid #9bb2da;
    overflow: hidden;
    margin-bottom: 30px;
}
.card-title {
    float: right;
    height: 35px;
    border-left: 3px solid #9bb2da;
    border-bottom: 3px solid #9bb2da;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 160%;
    text-align: center;
    padding-top: 2px;
}
#chicken > .card-title {
    background-color: #a39b41;
    width: 175px;
}
#beef > .card-title {
    background-color: #C14543;
    width: 190px;
}
#sushi > .card-title {
    background-color: #1b0fbe;
    width: 165px;
}
.card > p {
    font-size: 128%;
    clear: right;
    margin-left: 20px;
}
.row {
    width: 100%;
}

/* Desktop View */
@media (min-width: 992px) {
    body {
        margin: 0px 15px 0px 15px;
    }
    h1 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .col-dsk-4 {
        float: left;
        margin: 15px;
        width: calc(33.33% - 30px);
    }   
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
    .col-tab-6, .col-tab-12 {
        float: left;
    }   
    .col-tab-6 {
        width: 50%;
    }
    .col-tab-12 {
        width: 100%;
    }
}

/* Mobile View */
@media (max-width: 767px) {
    
}
